@tailwind base;
@tailwind components;
@tailwind utilities;

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}

:root {
    --c-ground: #f7f7fa;
    --c-primary: #2860e1;
    --c-oposite: #f7f7f7;
    --c-subdued: #f7f7f7;
}

.theme-gray {
    --c-primary: #15181c;
    --c-oposite: #d9d9d9;
}

.theme-purple {
    --c-primary: #6657D5;
    --c-oposite: #d9d9d9;

}

.theme-orange {
    --c-primary:#d57f57; 
    --c-oposite: #d9d9d9;

}

.theme-blue {
    --c-primary: #5779d5;
    --c-oposite: #d9d9d9;

}

body {
    background-color: var(--c-ground);
    font-family: 'Roboto', sans-serif;
}


.text-main-color {
    @apply text-black dark:text-[#e5e7eb];
}

.bg-purple-color {
    @apply bg-[#9540ea];
}

.bg-orange-color {
    @apply bg-[#edc500];
}


.bg-main-color {
    @apply bg-white dark:bg-[#141415];
}

.bg-surface-color {
    @apply bg-white dark:bg-[#1d1e1f]
}

.divider {
    @apply h-[.5px] dark:bg-[#212121] w-full;
}

.divider-primary-color {
    @apply dark:bg-[#212121]
}

.border-primary-color {
    @apply border-[#212121]
}