@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --c-ground: #f7f7fa;
  --c-primary: #2860e1;
  --c-oposite: #f7f7f7;
  --c-subdued: #f7f7f7;
}

.theme-gray {
  --c-primary: #15181c;
  --c-oposite: #d9d9d9;
}

.theme-purple {
  --c-primary: #6657d5;
  --c-oposite: #d9d9d9;
}

.theme-orange {
  --c-primary: #d57f57;
  --c-oposite: #d9d9d9;
}

.theme-blue {
  --c-primary: #5779d5;
  --c-oposite: #d9d9d9;
}

body {
  background-color: var(--c-ground);
  font-family: "Roboto", sans-serif;
}

.text-main-color {
  @apply text-neutral-800 dark:text-neutral-100;
}

.bg-purple-color {
  @apply bg-[#9540ea];
}

.bg-orange-color {
  @apply bg-[#edc500];
}

.bg-main-color {
  @apply bg-white dark:bg-[#141415];
}

.bg-surface-color {
  @apply bg-neutral-50 dark:bg-[#1d1e1f];
}

.divider {
  @apply h-[.5px] bg-neutral-200 dark:bg-neutral-800  w-full;
}

.divider-primary-color {
  @apply dark:bg-[#212121];
}

.border-primary-color {
  @apply border-[#212121];
}

/* Content */
.p-content {
  @apply rounded-lg  px-5 py-10 text-neutral-700 dark:text-neutral-300 bg-surface-color;
}

.p-content > * + * {
  margin-top: 1.5rem;
}
.p-content p {
    @apply tracking-wide leading-6;
}
.p-content h1 {
    @apply text-3xl font-bold;
}
.p-content h2 {
  font-weight: 700;
  font-size: 1.25rem;
}
.p-content ul {
  padding-left: 1.5rem;
  list-style: disc;
}
.p-content a {
  color: #177fe7;
  text-decoration: underline;
}

.p-post__content h1, .p-post__content h2, .p-post__content h3, .p-post__content h4, .p-post__content h5, .p-post__content h6 {
  @apply mt-6;
}

.p-post__content h1 {
  @apply text-4xl font-bold;
  
}

.p-post__content h2 {
  @apply text-3xl font-bold;
}

.p-post__content h3 {
  @apply text-2xl font-bold;
}

.p-post__content h4 {
  @apply text-xl font-bold;
}

.p-post__content h5 {
  @apply text-lg font-bold;
}

.p-post__content h6 {
  @apply text-base font-bold;
}

.p-post__content > * + *  {
  @apply pt-6;
}

.p-post__content > ul {
  @apply list-disc pl-8;
}

.p-post__content > ul > li {
  @apply pt-4;
}

.p-post__content p {
  @apply leading-6 dark:text-neutral-200;
}

.p-post__content a {
  @apply text-blue-600 hover:underline;
}